name: Build PoseLib

on:
  pull_request:
    branches:
      - '**'

env:
  BUILD_CONFIGURATION: Release
  LIBRARY_TYPE: OFF  # Static libraries
  BUILD_DIR: _build
  INSTALL_DIR: _install

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Eigen3 Dependency
      run: sudo apt-get update && sudo apt-get install -y libeigen3-dev 

    - name: Setup CMake Configuration
      run: |
        cmake \
          -B ${{github.workspace}}/${{env.BUILD_DIR}} \
          -DENABLE_BENCHMARK=ON \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_CONFIGURATION}} \
          -DBUILD_SHARED_LIBS=${{env.LIBRARY_TYPE}} \
          -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/${{env.INSTALL_DIR}}

    - name: Compile and Install
      run: |
        cmake \
          --build ${{github.workspace}}/${{env.BUILD_DIR}} \
          --target install \
          -j $(nproc)

    - name: Execute Benchmark
      run: ${{github.workspace}}/${{env.INSTALL_DIR}}/bin/benchmark
